<div ng-app="app">

  <div ng-controller="workoutCtrl" ng-init="setup()">
  <ul>
  <li ng-repeat="error in errors">{{ error }}</li>
  </ul>
    <p>
    Exersise: <input ng-model="newWorkOutExersise">
    Time: <input ng-model="newWorkOutTime">
    Calories Burned: <input ng-model="newWorkOutCaloriesBurned">
    <button ng-click="addWorkout(newWorkOutExersise, newWorkOutTime, newWorkOutCaloriesBurned)"> add exersise</button>
    </p>
    <p>
    Exercise: <input ng-model="exerciseFilter" list="exercises">
    <label> Filter by Exercise </label>
    <datalist id="exercises">
    <option ng-repeat="workout in workouts">{{workout.exercise}}</option>
    </datalist>

    calorie <input ng-model="calorieFilter">
    </p>
    <div>
    <button ng-click="toggleOrder('exercise')">order by exercise</button>
    <button ng-click="toggleOrder('calories_burned')"> order by calories burned</button>
    </div>
    <workout></workout>
        
  </div>

</div>



